 
/* Changed colour of table header background */

table.rmdtable th {
  color: white;
  font-size: 18px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #797979), color-stop(80%, #797979)) no-repeat;
  background: -webkit-linear-gradient(top, #797979 40%, #797979 80%) no-repeat;
  background: -moz-linear-gradient(top, #797979 40%, #797979 80%) no-repeat;
  background: -o-linear-gradient(top, #797979 40%, #797979 80%) no-repeat;
  background: linear-gradient(top, #797979 40%, #797979 80%) no-repeat;
}

/* Set width of table to automatically scale with text */

table.rmdtable {
    width: auto;
}

/* Changing style of link*/

a {
    color: #2a7cdf;
    text-decoration: none;
    border-bottom: none;
}
  