 /* Changed colour of table header background */

table.rmdtable th {
  color: white;
  font-size: 18px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #797979), color-stop(80%, #797979)) no-repeat;
  background: -webkit-linear-gradient(top, #797979 40%, #797979 80%) no-repeat;
  background: -moz-linear-gradient(top, #797979 40%, #797979 80%) no-repeat;
  background: -o-linear-gradient(top, #797979 40%, #797979 80%) no-repeat;
  background: linear-gradient(top, #797979 40%, #797979 80%) no-repeat;
}

/* Remove border at bottom of table */

table.rmdtable {
    border-bottom: none;
}
/* Set width of table to automatically scale with text */

table.rmdtable {
    width: auto;
}

/* Changing style of link*/

a {
    color: #2a7cdf;
    text-decoration: none;
    border-bottom: none;
}
  

/* Simple image gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

/* Align image to centre */

.aligncenter {
    text-align: center;
}

/* Adding footnote */

.footnote {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 80%;
    font-size: 0.6em;
  }